/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Fonts --------------------------------------
$font-primary-family: 'Lato', sans-serif;

// Typography Colors --------------------------
$font-primary-color: #777;
$font-highlight-color: #fff;
$highlight-primary-color: #58e1c1;
$highlight-secondary-color: #51ddfc;


// Button Colors -----------------------------
$btn-default-color: #51ddfc;
$btn-error-color: #e4757a;
$btn-info-color: #927bc1;
$btn-success-color: #63cc82;
$btn-warning-color: #fd7856;


// Theme colors -----------------------------
$theme-1-color: #927bc1;
$theme-2-color: #fd7856;
$theme-3-color: #deb2ee;
$theme-4-color: #7ee6fd;
$theme-5-color: #88d9a0;
$theme-6-color: #4da2bb;
$theme-7-color: #ec9fa3;
$theme-8-color: #fd9f85;
$theme-9-color: #e4757a;
$theme_10-color: #63cc82;
$theme-11-color: #51ddfc;
$theme-12-color: #80e8d1;


// Media Queries ----------------------------
$med-break: 768px;